openapi: 3.0.1
info:
  title: Fleetio Developer Contacts Vehicles API
  description: JSON REST API for the Fleetio fleet management platform. Manage vehicles, contacts, fuel entries, service entries, work orders, service reminders, parts and inventory, inspections, and issues, and register webhooks for event notifications. All access is over HTTPS and all data is sent and received as JSON.
  termsOfService: https://www.fleetio.com/legal/terms
  contact:
    name: Fleetio Developer Support
    url: https://developer.fleetio.com/
  version: '2025-05-05'
servers:
- url: https://secure.fleetio.com/api
  description: Fleetio production API
security:
- AuthorizationToken: []
  AccountToken: []
tags:
- name: Vehicles
paths:
  /v1/vehicles:
    get:
      operationId: listVehicles
      tags:
      - Vehicles
      summary: List vehicles
      description: Returns a paginated array of all vehicles in the account.
      parameters:
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/StartCursor'
      responses:
        '200':
          description: A list of vehicles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vehicle'
    post:
      operationId: createVehicle
      tags:
      - Vehicles
      summary: Create a vehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '201':
          description: The created vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
  /v1/vehicles/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getVehicle
      tags:
      - Vehicles
      summary: Get a vehicle
      responses:
        '200':
          description: The requested vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
    patch:
      operationId: updateVehicle
      tags:
      - Vehicles
      summary: Update a vehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '200':
          description: The updated vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
    delete:
      operationId: deleteVehicle
      tags:
      - Vehicles
      summary: Delete a vehicle
      responses:
        '204':
          description: The vehicle was deleted.
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of records to return per page.
      schema:
        type: integer
        default: 50
        maximum: 100
    StartCursor:
      name: start_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination of list results.
      schema:
        type: string
    ResourceId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
        format: int64
  schemas:
    Vehicle:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        account_id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
        vehicle_make:
          type: string
        vehicle_model:
          type: string
        vehicle_year:
          type: integer
        vin:
          type: string
        license_plate:
          type: string
        group_id:
          type: integer
          format: int64
        vehicle_status_name:
          type: string
        vehicle_type_name:
          type: string
        primary_meter_value:
          type: number
        primary_meter_unit:
          type: string
        archived_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    AuthorizationToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key associated with a Fleetio user, prefixed with the word "Token" (e.g. "Authorization: Token YOUR_API_KEY"). Generate keys at https://secure.fleetio.com/api_keys.'
    AccountToken:
      type: apiKey
      in: header
      name: Account-Token
      description: Account token identifying the Fleetio account.
