openapi: 3.0.1
info:
  title: Fleetio Developer Contacts Service Entries API
  description: JSON REST API for the Fleetio fleet management platform. Manage vehicles, contacts, fuel entries, service entries, work orders, service reminders, parts and inventory, inspections, and issues, and register webhooks for event notifications. All access is over HTTPS and all data is sent and received as JSON.
  termsOfService: https://www.fleetio.com/legal/terms
  contact:
    name: Fleetio Developer Support
    url: https://developer.fleetio.com/
  version: '2025-05-05'
servers:
- url: https://secure.fleetio.com/api
  description: Fleetio production API
security:
- AuthorizationToken: []
  AccountToken: []
tags:
- name: Service Entries
paths:
  /v1/service_entries:
    get:
      operationId: listServiceEntries
      tags:
      - Service Entries
      summary: List service entries
      parameters:
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/StartCursor'
      responses:
        '200':
          description: A list of service entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceEntry'
    post:
      operationId: createServiceEntry
      tags:
      - Service Entries
      summary: Create a service entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEntry'
      responses:
        '201':
          description: The created service entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntry'
  /v1/service_entries/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getServiceEntry
      tags:
      - Service Entries
      summary: Get a service entry
      responses:
        '200':
          description: The requested service entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntry'
    patch:
      operationId: updateServiceEntry
      tags:
      - Service Entries
      summary: Update a service entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceEntry'
      responses:
        '200':
          description: The updated service entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceEntry'
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of records to return per page.
      schema:
        type: integer
        default: 50
        maximum: 100
    StartCursor:
      name: start_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination of list results.
      schema:
        type: string
    ResourceId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
        format: int64
  schemas:
    ServiceEntry:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        vehicle_id:
          type: integer
          format: int64
        completed_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        meter_value:
          type: number
        total_amount:
          type: number
        labor_subtotal:
          type: number
        parts_subtotal:
          type: number
        vendor_id:
          type: integer
          format: int64
          nullable: true
        is_sample:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    AuthorizationToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key associated with a Fleetio user, prefixed with the word "Token" (e.g. "Authorization: Token YOUR_API_KEY"). Generate keys at https://secure.fleetio.com/api_keys.'
    AccountToken:
      type: apiKey
      in: header
      name: Account-Token
      description: Account token identifying the Fleetio account.
