openapi: 3.0.1
info:
  title: Fleetio Developer Contacts Service Reminders API
  description: JSON REST API for the Fleetio fleet management platform. Manage vehicles, contacts, fuel entries, service entries, work orders, service reminders, parts and inventory, inspections, and issues, and register webhooks for event notifications. All access is over HTTPS and all data is sent and received as JSON.
  termsOfService: https://www.fleetio.com/legal/terms
  contact:
    name: Fleetio Developer Support
    url: https://developer.fleetio.com/
  version: '2025-05-05'
servers:
- url: https://secure.fleetio.com/api
  description: Fleetio production API
security:
- AuthorizationToken: []
  AccountToken: []
tags:
- name: Service Reminders
paths:
  /v1/service_reminders:
    get:
      operationId: listServiceReminders
      tags:
      - Service Reminders
      summary: List service reminders
      parameters:
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/StartCursor'
      responses:
        '200':
          description: A list of service reminders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceReminder'
  /v1/service_reminders/{id}:
    parameters:
    - $ref: '#/components/parameters/ResourceId'
    get:
      operationId: getServiceReminder
      tags:
      - Service Reminders
      summary: Get a service reminder
      responses:
        '200':
          description: The requested service reminder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceReminder'
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of records to return per page.
      schema:
        type: integer
        default: 50
        maximum: 100
    StartCursor:
      name: start_cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination of list results.
      schema:
        type: string
    ResourceId:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
        format: int64
  schemas:
    ServiceReminder:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        vehicle_id:
          type: integer
          format: int64
        service_task_id:
          type: integer
          format: int64
        service_task_name:
          type: string
        due_soon_threshold:
          type: number
        time_due_date:
          type: string
          format: date
          nullable: true
        meter_due_value:
          type: number
          nullable: true
        next_due_status:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    AuthorizationToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key associated with a Fleetio user, prefixed with the word "Token" (e.g. "Authorization: Token YOUR_API_KEY"). Generate keys at https://secure.fleetio.com/api_keys.'
    AccountToken:
      type: apiKey
      in: header
      name: Account-Token
      description: Account token identifying the Fleetio account.
